<h1>Projects</h1>

<% @projects.each do |project| %>
<h2>
  <%= project.name %> 
  <small>
  &nbsp; &nbsp; 
  <%= link_to "Edit", edit_project_path(project) %> | 
  <%= link_to "Delete", project, :method => 'delete', :confirm => "Are you sure to delete project #{h(project.name)}"  %>
  </small>
</h2>

  <%- unless project.tasks.empty? -%>
  <ul>
    <%= render :partial => "tasks/task", :collection => project.tasks %>
  </ul>
  <%- else -%>
  <p>This project has no tasks. <%= link_to "Add one", new_task_path %>!</p>
  <%- end -%>
  
<%- end -%>

<hr />

<%= link_to 'New project', new_project_path %>
