<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  
  <%= auto_discovery_link_tag(:atom, formatted_recent_tasks_path(:atom)) %>

  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'sexy_scaffold' %>
  
  <style type="text/css" media="screen">
    h2 small { font-size: 75%; }
    ul { padding: 0; }
    li { list-style-type: none; margin: 0 0 0.5em 0; }
    li.completed { color: #444; font-size: 95%; }
    li.completed a { color: #666; }
    .notice { background: #E6EFC2; color: #264409; border: 1px solid #C6D880; padding: 1em; }
    #menu { margin-bottom: 1.5em; }
    form.button-to, form.button-to div { border: none; padding: 0; margin: 0; display: inline; }
  </style>
  
  <%= javascript_include_tag :defaults, :cache => true %>
</head>
<body>
  
<div id="menu">
  <%= link_to_unless_current "Projects", projects_path %> &nbsp; | 
  <%= link_to_unless_current "Tasks", tasks_path %>
</div>

<%- if flash[:notice] -%><p class="notice"><%= flash[:notice] %></p><%- end -%>

<%= yield  %>

</body>
</html>
